

                </div><!-- .container -->

            </div><!-- .main -->

        </div><!-- #wrapper -->


        <footer id="footer-wrap">
            <div class="container">
                <!--<p>@name</p>-->
                <p>I'm a UX developer and designer living in Leeds, UK. I make up one half of the digital collaboration <a href="http://www.waffleworks.co/" title="_blank" title="Waffle Works">Waffle Works</a>.</p>
                <p>I love semantic code, great design, good food and robots. You can find me on Twitter as <a href="http://www.twitter.com/Rikki_Sixx" title="@Rikki_Sixx on Twitter" target="_blank">@Rikki_Sixx</a>.</p> 
                
                <p>&copy; Copyright @name @current_year <a class="atom-rss" href="@root_path/?/feed/">RSS</a></p>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="@root_path/assets/js/libs/jquery-1.8.0.min.js"><\/script>')</script>

        <script src="@root_path/assets/js/jquery.jtweetsanywhere-1.3.1.js"></script>
        <script src="@root_path/assets/js/shCore.js"></script>
        <script src="@root_path/assets/js/shBrushCss.js"></script>
        <script src="@root_path/assets/js/shBrushXml.js"></script>
        <script src="@root_path/assets/js/scripts.js"></script>

        <!-- Google Analytics -->
        <script>
            var _gaq=[['_setAccount','UA-12505531-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

    </body>

</html>