/* 

Rik Kendell, developer website and blog

Author: Rik Kendell - @Rikki_Sixx
Version: 2.0;
URL: http://www.rikkkendell.co.uk/

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. BASE STYLES
2. BASE TYPOGRAPHY & LINKS
3. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
4. CUSTOM LAYOUT & TYPOGRAPHY 
5. BROWSER AND NON-SEMANTIC STYLING 

*/

/* ==========================================================================
   1. Base styles
   ========================================================================== */
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

html,
button,
input,
select,
textarea {
    color: #303030;
}

body {
    background-color: #f5f5f5;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 1em;
    line-height: 1.618em;
}

::-moz-selection {
    background: #f5766c;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #f5766c;
    color: #fff;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}


/* ==========================================================================
   2. Base Typography & Links
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
}

p, ul, ol, dl, blockquote {
    font-size: 1em;
    line-height: 1.6em;
    margin-bottom: 1.5em; 
    /* max-width: 30em; /* Optimal width for long-form text */
}

ul { list-style-type: disc;  }
ol { list-style-type: decimal; }
ul, ol {padding: 0 0 0 1.5em; }
ul li, ol li { margin-bottom: 0.625em; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0;}

b, strong { font-weight: bold; }
i, em { font-style: italic; }

blockquote { 
    border-left: 5px solid #f5766c;
    padding: 0 0 0 0.75em;    
    background: #e8e8e8;
}

a, 
a:visited {
    color: #2864a7;
    font-weight: normal;
    text-decoration: none;
}
a:hover, 
a:active {
    color:#539ff4;
    text-decoration: underline;
}

@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Serif'), local('DroidSerif'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v3/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Raleway Thin';
    font-style: normal;
    font-weight: 100;
    src: local('Raleway Thin'), local('Raleway-Thin'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/RJMlAoFXXQEzZoMSUteGWD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Raleway Light';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/-_Ctzj9b56b8RgXW8FAriRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@font-face {
    font-family: 'icomoon';
    src:url('/public/assets/fonts/icomoon.eot');
    src:url('/public/assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/public/assets/fonts/icomoon.svg#icomoon') format('svg'),
        url('/public/assets/fonts/icomoon.woff') format('woff'),
        url('/public/assets/fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}




/* ==========================================================================
   3. Global layout & Typography
   ========================================================================== */
.container {
    padding: 0.625em;
    max-width: 46.250em;
    margin: auto;
}
header#main-header {
    border-top: 0.625em solid #539ff4;
}

header hgroup h1 {
    font-family: "Raleway Thin", sans-serif;
    margin-bottom: 0;
}
header hgroup h2 {
    font-family: "Raleway Light",sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}
h1#hero {    
    font-size: 4.5em;
    line-height: 0.95em;
    margin: 0;
}
h1#hero a {
    color: #3A3A44;
}
h1#hero a:hover {
    color: #539ff4;
    text-decoration: none;
}

#topmenu {
    position: absolute;
    right: 0.625em;
    top: 0.063em;
}
#topmenu ul li {
    background: #539FF4; 
    height: 60px;
    width: 60px;
    display: block;
    float: left;
    margin-right: 1px;
}
#topmenu ul li a {
    display: block;
    color: #fff;    
}
#topmenu ul li a.top-level {    
    font-size: 1.75em;
    padding: 13px 0 0;
    text-align: center;
    height: 47px;
}
#topmenu ul li a:hover {
    background: #2864A7;
    text-decoration: none;
}
#topmenu ul.sub-level {
    padding: 1px 0 0;    
    display: none;
}
#topmenu ul li:hover ul.sub-level {
    display: inherit;
}
#topmenu ul.sub-level li {
    width: 220px;
    border-bottom: 1px solid #fff;
    height: auto;
}
#topmenu ul.sub-level li a {
    padding: 2px 0.625em;
}

.post-preview {
    margin-bottom: 1.5em;
}

footer {
    background: #3a3a44;
    color: #fff;
}
footer a,
footer a:hover,
footer a:active,
footer a:visited {
    color: #acc12e;
}


img {
    width: 100%;
    height: auto;
}

/* Typography */
blockquote p {
    margin-bottom: 0;
}
#navigation li:nth-child(1) a.top-level span.icon:before {
    content: "\e000";
}
#navigation li:nth-child(2) a.top-level span.icon:before {
    content: "\e001";
}
#navigation li:nth-child(3) a.top-level span.icon:before {
    content: "\e003";
}
.post-siblings .next-post a span:before,
.post-continue a span:before {
    content: "\e005";
}
.post-siblings .previous-post a span:before {
    content: "\e006";
}
.icon-phone:before {
    content: "\e002";
}
.icon-menu:before {
    content: "\e004";
}
.icon-twitter:before {
    content: "\e007";
}
.icon-linkedin:before {
    content: "\e008";
}
 
.post-title h1 {
    color: #3A3A44;
    font-family: "Droid Serif",serif;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 1.2;
    margin-top: 0;
}
.post-title h2 {
    font-family: "Raleway Light",sans-serif;
    font-size: 1.278em;
    font-weight: 300;
    margin-bottom: 1.5em;
}
.post-preview h1 a {
    color: #3a3a44;
}
.post-preview h1 a:hover,
.post-preview h1 a:active {
    color: #539ff4;
    text-decoration: none;
}
p.post-date,
p.post-continue {
    font-family: "Raleway Light", sans-serif;
    font-size: 1.278em;
    font-weight: 300;
}


/* ==========================================================================
   4. Custom layout & typography [Babybear]
   ========================================================================== */
.hidden-phone {
    display: none;
}
.visible-desktop {
    display: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Image replacement */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/* Hide from screenreaders and browsers */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide  visually, but have it available for screenreaders */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extend .visuallyhidden to allow the element to be focusable when navigated to via the keyboard */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */

.invisible {
    visibility: hidden;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/* For IE 6/7 */
.clearfix {
    *zoom: 1;
}

.left {
    float: left;
}
.right {
    float: right;
}
.relative {
    position: relative;
}


/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}