foreach $root do
    if $children do
        <!--<h2 class="category col two">@title</h2>-->

        <div class="blog-list">

        foreach $children do
            <article class="post-preview">
                
                <hgroup class="post-title">
                    <h1><a href="@url" title="@title">@title</a></h1>
                    <h2>Written on @date</h2>
                </hgroup>

                if @thumb do
                    <div class="post-thumb">
                         <a href="@url" title="@title"><img src="@thumb" alt="@title" width="@width" height="@height"></a>
                    </div>
                endif

                @preview

                <p class="post-continue"><a href="@url" title="@title">Continue reading <span aria-hidden="true" data-icon=""></span></a></p>
                
            </article>
        endforeach

        </div><!-- blog-list -->
    endif
endforeach