:header

            <!-- :navigation -->
            
            <article>

                <hgroup class="post-title">
                    <h1>@title</h1>
                    <h2>Written on @date</h2>
                </hgroup>

                @content                


                if $siblings do
                    <div class="post-siblings clearfix">   
                        :previous-page  
                        :next-page 
                    </div>
                endif


                :media

            </article>
        
:footer 